<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Página Inicial da Play Animes">
    <meta name="keywords" content="Anime, PlayAnimes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Inicial | PlayAnimes</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plyr.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="https://assets-juca.netlify.app/img/playanimes/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Homepage</a></li>
                                <li><a href="/animes">Animes</a></li>
                                <li><a href="/fimes">Fimes</a></li>
                                <li><a href="/manga">Mangá</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/login"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel owl-loaded">

                <div class="owl-stage-outer">
                    <div class="owl-stage"
                        style="transform: translate3d(-4560px, 0px, 0px); transition: all 0s ease 0s; width: 7980px;">
                        <div class="owl-item cloned" style="width: 1140px;">
                            <div class="hero__items set-bg width_bg"
                                data-setbg="https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg"
                                style="background-image: url(&quot;https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg&quot;);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <!-- <div class="none label">COMPLETO</div> -->
                                            <h2 class="none">Kimetsu no Yaiba</h2>
                                            <p class="none">Primeira temporada já disponível</p>
                                            <a href="anime/33377"><span>Assistir</span> <i
                                                    class="fa bg_black fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 1140px;">
                            <div class="hero__items set-bg width_bg"
                                data-setbg="https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/98662d1c546c4e74de58fbc52679ac6c.jpeg"
                                style="background-image: url(&quot;https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/98662d1c546c4e74de58fbc52679ac6c.jpeg&quot;);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <!-- <div class="label">Nome</div> -->
                                            <h2 class="none">Jujutsu Kaisen</h2>
                                            <p class="none">Primeira temporada já disponível</p>
                                            <a href="anime/33270"><span>Assistir</span> <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item" style="width: 1140px;">
                            <div class="hero__items set-bg width_bg"
                                data-setbg="https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg"
                                style="background-image: url(&quot;https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg&quot;);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <!-- <div class="none label">COMPLETO</div> -->
                                            <h2 class="none">Kimetsu no Yaiba</h2>
                                            <p class="none">Primeira temporada já disponível</p>
                                            <a href="anime/33377"><span>Assistir</span> <i
                                                    class="fa bg_black fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item animated owl-animated-in fadeIn active" style="width: 1140px;">
                            <div class="hero__items set-bg width_bg"
                                data-setbg="https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/98662d1c546c4e74de58fbc52679ac6c.jpeg"
                                style="background-image: url(&quot;https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/98662d1c546c4e74de58fbc52679ac6c.jpeg&quot;);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <!-- <div class="label">Nome</div> -->
                                            <h2 class="none">Jujutsu Kaisen</h2>
                                            <p class="none">Primeira temporada já disponível</p>
                                            <a href="anime/33270"><span>Assistir</span> <i
                                                    class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="owl-item cloned" style="width: 1140px;">
                            <div class="hero__items set-bg width_bg"
                                data-setbg="https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg"
                                style="background-image: url(&quot;https://beta.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/f7adcedd1d7c53ae18d851003a3cfae4.jpeg&quot;);">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hero__text">
                                            <!-- <div class="none label">COMPLETO</div> -->
                                            <h2 class="none">Kimetsu no Yaiba</h2>
                                            <p class="none">Primeira temporada já disponível</p>
                                            <a href="anime/33377"><span>Assistir</span> <i
                                                    class="fa bg_black fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span
                            class="arrow_carrot-left"></span></button><button type="button" role="presentation"
                        class="owl-next"><span class="arrow_carrot-right"></span></button></div>
                <div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button"
                        class="owl-dot"><span></span></button><button role="button"
                        class="owl-dot active"><span></span></button></div>
            </div>
        </div>
    </section>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Animes Populares</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/animes" class="primary-btn">Ver todos <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            {% for anime in popular_animes %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="https://cdn.appanimeplus.tk/img/{{ anime.category_image }}"
                                        style="background-image: url(&quot;https://cdn.appanimeplus.tk/img/{{ anime.category_image }}&quot;);">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Anime</li>
                                        </ul>
                                        <h5><a href="anime/{{anime.id}}">{{ anime.category_name }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Ultimos EP</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/animes" class="primary-btn">Ver tudo <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in latest_episodes %}

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="https://cdn.appanimeplus.tk/img/{{ anime.category_image }}"
                                        style="background-image: url(&quot;https://cdn.appanimeplus.tk/img/{{ anime.category_image }}&quot;);">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Anime</li>
                                        </ul>
                                        <h5><a href="/video/{{ anime.video_id}}">{{ anime.title }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Populares</h5>
                            </div>
                            <div class="filter__gallery">
                                {% for anime in popular_animes %}                                
                                <div class="product__sidebar__view__item set-bg" data-setbg="https://cdn.appanimeplus.tk/img/{{ anime.category_image }}">
                                    <h5><a href="anime/{{anime.id}}">{{ anime.category_name }}</a></h5>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="/">
                            <img style="max-width: 160px;" src="https://assets-juca.netlify.app/img/playanimes/logo.png"
                                alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="/">Homepage</a></li>
                            <li><a href="/">Animes</a></li>
                            <li><a href="/">Fimes</a></li>
                            <li><a href="/">Mangá</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="https://josuejuca.com/">
                            <img style="max-width: 150px;" src="https://assets-juca.netlify.app/img/juca/juca-white.png"
                                alt="">
                        </a>
                    </div>

                </div>

            </div>
            <p class="c center">©
                <script>document.write(new Date().getFullYear());</script> Play Animes - Este site não hospeda
                nenhum vídeo em seu servidor. Todo conteúdo é provido de terceiros não afiliados.
            </p>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" action="/search" method="GET">
                <input type="text" id="search-input" name="query" placeholder="Buscar Anime.....">
                <button type="submit"><span class="icon_search z-1 "></span></button>
            </form>
        </div>
    </div>

    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/player.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>