
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
    <!-- Basic metas
    	======================================== -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Mobile specific metas
    	======================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>Recebido</title>
    <link rel="shortcut icon" href="https://assets-juca.netlify.app/img/playanimes/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/iconfont.css') }}">
  
    <!-- css links
    	======================================== -->
    <!-- Bootstrap link -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/bootstrap.min.css') }}">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/vendor/owl.carousel.min.css') }}">
    <!-- Magnific popup -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/magnific-popup.css') }}">
    <!-- Animate css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/vendor/animate.css') }}">
    <!-- Plyr css -->

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Main contents
    	================================================ -->
    <div class="main-content">
        <div class="under-construction-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="under-construction-inner-content">
                            <div class="brand-logo-container">
                                <a href="index.html">
                                    <img src="https://assets-juca.netlify.app/playanimes/img/logo/logoDark.svg" alt="" class="brand-logo">
                                </a>
                            </div>
                            <!-- End of .brand-logo-container -->
                            <div class="axil-title">
                                <h1 class="h1 m-0">Recebido com sucesso!</h1>
                            </div>
                            <div class="newsletter-content">
                                <div class="contact-social-share m-t-xs-20">
                                    <img class="logo" src="https://assets-juca.netlify.app/img/juca/juca-black.png"  alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of .col-lg-8 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .container -->
        </div>
        <!-- End of .under-construction-banner -->
    </div>
    <!-- End of .main-content -->
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery-migrate.min.js') }}"></script>
    <!-- jQuery Easing Plugin -->
    <script src="{{ url_for('static',filename='assets/js/vendor/easing-1.3.js') }}"></script>
    <!-- Waypoints js -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery.waypoints.min.js') }}"></script>
    <!-- Owl Carousel JS -->
    <script src="{{ url_for('static',filename='assets/js/vendor/owl.carousel.min.js') }}"></script>
    <!-- Slick Carousel JS -->
    <script src="{{ url_for('static',filename='assets/js/vendor/slick.min.js') }}"></script>
    <!-- Bootstrap js -->
    <script src="{{ url_for('static',filename='assets/js/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/vendor/isotope.pkgd.min.js') }}"></script>
    <!-- Counter up js -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery.counterup.js') }}"></script>
    <!-- Magnific Popup js -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery.magnific-popup.min.js') }}"></script>
    <!-- Nicescroll js -->
    <script src="{{ url_for('static',filename='assets/js/vendor/jquery.nicescroll.min.js') }}"></script>
    <!-- IF ie -->
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@2"></script>
    <!-- Plugins -->
    <script src="{{ url_for('static',filename='assets/js/plugins.js') }}"></script>
    <!-- Custom Script -->
    <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>

</html>